<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/register.css" />
    <link rel="stylesheet" href="../style/navbar.css" />
    <link rel="stylesheet" href="../style/footer.css" />
  </head>

  <body>
    <div class="main">
      <h1 class="maincous">New Coustumers</h1>
      <div class="dotted"></div>

      <div class="formmaincontainer">
        <div class="one">
          <form action="" id="reg-form">
            <label for="username"
              >username
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Email"
            /></label>
            <label for="password"
              >password
              <input
                type="text"
                id="password"
                name="password"
                placeholder="Password"
            /></label>
            <label for="confirmpassword"
              >confirm password
              <input
                type="text"
                id="confirmpassword"
                name="confirmpassword"
                placeholder="confirm password"
            /></label>
            <input type="submit" class="button" value="Submit" />
          </form>
        </div>
        <div class="two">
          <img
            src="https://www.lovelula.com/assets/lovelula/registration_panel-621d4df9a212d0a6751630bae9954303af5464651fb8a7c8bf8b34812a62d36c.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
<script type="module">
  import footer from "../js/footer.js";

  let div = document.createElement("div");

  div.innerHTML = footer();
  document.body.append(div);
</script>

<script type="module">
  import navbar from "../js/navbar.js";

  let div = document.createElement("div");

  div.innerHTML = navbar();
  document.body.prepend(div);
</script>

<script>
  const form = document.getElementById("reg-form");

  form.addEventListener("submit", registerUser);

  async function registerUser(event) {
    // event.preventDefault();

    let username = document.getElementById("username").value;

    const password = document.getElementById("password").value;

    const confirmpassword = document.getElementById("confirmpassword").value;

    const result = await fetch("http://localhost:2345/users", {
      method: "post",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        username,
        password,
        confirmpassword,
      }),
    }).then((res) => res.json());
  }
</script>
